.carddiv {
    width: 350px;
    margin: 20px auto;
}

.cardele {
    width: 100%;
}

.purchasediv {
    width: 350px;
    margin: 40px auto;
}

.purchaseele {
    width: 100%;
}

.signupform {
    width: 350px;
    margin: 20px auto;
}

.signupele {
    width: 100%;
}