<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='6158893c63bb6391a48abc17' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            6158893c63bb6391a48abc17

            <div>

                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza3 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            9055072322
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            mavis, road
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered' selected  >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            12:30 PM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='61587b88ae81fb35b4093e6c' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            61587b88ae81fb35b4093e6c

            <div>

                <div>
                    <br> <span> pizza3 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            9055073399
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            mavis, road
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered' selected  >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:32 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='615878aa46e9d699aa6b827a' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            615878aa46e9d699aa6b827a

            <div>

                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza3 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            9055072389
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            brittania , road
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared' selected    >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:20 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='6158713b24a952ffa6fe9675' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            6158713b24a952ffa6fe9675

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            9055073399
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            terry fox rd.,
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared' selected    >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            10:48 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='61586592b0ed9ca8553631e5' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            61586592b0ed9ca8553631e5

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed' selected  >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            09:58 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='615864d6b0ed9ca8553631da' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            615864d6b0ed9ca8553631da

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed' selected  >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            09:55 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='615864c6b0ed9ca8553631ca' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            615864c6b0ed9ca8553631ca

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed' selected >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            09:55 AM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='6158603139db421d6f085b00' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            6158603139db421d6f085b00

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared' selected    >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:04 PM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='61585ebfc116c5e42da40564' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            61585ebfc116c5e42da40564

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed' selected  >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:04 PM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='61585d673cb5dd745996f0a2' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            61585d673cb5dd745996f0a2

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 1 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 1 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed' selected >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:04 PM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='615770721ee5c09f2ef90e03' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            615770721ee5c09f2ef90e03

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 10 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 4 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza3 : </span>
                    <span> 2 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed'  >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed' selected  >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:04 PM
        </td>
    </tr>

</form>

<form id='orderid' action='/adminupdateorderstatus' method='POST'>
    <input type='hidden' value='61575e59d9238ed84bf1c563' name='orderid'>
    <tr>
        <td class='border-2 border-solid border-gray-300 px-2 py-2'>
            61575e59d9238ed84bf1c563

            <div>

                <div>
                    <br> <span> pizza1 : </span>
                    <span> 10 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza2 : </span>
                    <span> 4 - pcs </span>
                </div>


                <div>
                    <br> <span> pizza3 : </span>
                    <span> 2 - pcs </span>
                </div>
            </div>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            905 507 3039
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            rogerson rd
        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>

            <select id='selectvalue' name='selectvalue' onchange='this.form.submit()' class='orderstatus w-full focus:none' data-id='<%= ele._id %>'>
                <option value='order-placed' selected >order placed</option>
                <option value='confirmed'     >confirmed</option>
                <option value='prepared'     >prepared</option>
                <option value='delievered'   >delievered</option>
                <option value='closed'   >closed</option>
            </select>

        </td>
        <td class='border-2 border-solid border-gray-300  px-2 py-2'>
            11:04 PM
        </td>
    </tr>

</form>